/include/ "system-conf.dtsi"
/ {
    chosen {
        bootargs = "earlycon console=ttyPS0,115200 clk_ignore_unused root=/dev/mmcblk0p2 rw rootwait";
    };
    aliases { serial0 = "/axi/serial@ff000000"; };
    memory {
        device_type = "memory";
        reg = <0x0 0x0 0x1 0x0>;
    };
};
&uart0 { status = "okay"; };
&sdhci0 { status = "okay"; no-1-8-v; };
&sdhci1 { status = "okay"; non-removable; no-1-8-v; };
&gem3 {
    status = "okay";
    phy-mode = "rgmii-id";
    phy-handle = <&phy0>;
    mdio {
        #address-cells = <1>;
        #size-cells = <0>;
        phy0: ethernet-phy@0 {
            reg = <0>;
        };
    };
};
